<div>
    <br>
    <h1>Barnyard Burger</h1>
    <hr style="border-color: rgb(240, 76, 0)">
    <br>
    <img src="/assets/images/steer.png" width="260px" height="160px">
</div>

<br><br><br><br>

<div class="card-deck">
    <div class="card rounded-0" id="one">
        <div class="card-body">
            <h5 class="card-title">Burger Menu</h5>
            <hr style="border-color: black">
            <p class="card-text">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <pre>{{this.id}}. {{this.burger_name}}</pre>
                <button type="submit" data-id="{{this.id}}" class="inhale btn rounded-0">Inhale The Burger!</button>
                {{/unless}}
                {{/each}}
            </p>
        </div>
    </div>

    <div class="card rounded-0" id="two">
        <div class="card-body">
            <h5 class="card-title">Inhaled Burgers</h5>
            <hr style="border-color: black">
            <p class="card-text">
                {{#each burger_data}}
                {{#if devoured}}
                <pre>{{this.id}}. {{this.burger_name}}</pre>
                {{/if}}
                {{/each}}
        </div>
    </div>

    <div class="card rounded-0" id="three">
        <div class="card-body">
            <h5 class="card-title">Burger Orders</h5>
            <hr style="border-color: black">
            <form class="create-form">
                {{!-- action="/burgers/create" method="POST" --}}
                <div class="form-group">
                    <label id="form" for="new_burger">Create A Burger:</label>
                    <input type="text" name="burger_name" id="order">
                </div>
                <button type="submit" class="order_btn btn rounded-0" id="order_burger" >Submit Order</button>
            </form>
        </div>
    </div>
</div>